<%- if flash.any? %>
    <%- flash.keys.each do |flash_key| %>
        <%- next if flash_key.to_s == 'timedout' %>
        <div class="alert alert-success <%= flash_key %>">
          <a class="close" data-dismiss="alert" href="#"> x</a>
          <%= flash.discard(flash_key) %>
        </div>
    <%- end %>
<%- end %>

<%= form_for(@centro_salud) do |f| %>

    <div class="field">
      <%= f.label :rif %><br>
      <%= f.text_field :rif %>
    </div>
    <div class="field">
      <%= f.label :descripcion %><br>
      <%= f.text_area :descripcion , rows: 6 %>
    </div>
    <div class="field">
      <%= f.label :estado %><br>
      <%= f.text_field :estado %>
    </div>
    <div class="field">
      <%= f.label :ciudad %><br>
      <%= f.text_field :ciudad %>
    </div>
    <div class="field">
      <%= f.label :direccion %><br>
      <%= f.text_area :direccion , rows: 6%>
    </div>
    <div class="field">
      <%= f.label :direccion_fiscal %><br>
      <%= f.text_area :direccion_fiscal , rows: 6 %>
    </div>
    <div class="field">
      <%= f.label :telefono %><br>
      <%= f.text_field :telefono %>
    </div>
    <div class="field">
      <%= f.label :fax %><br>
      <%= f.text_field :fax %>
    </div>
    <div class="field">
      <%= f.label :sitio_web %><br>
      <%= f.text_field :sitio_web %>
    </div>
    <%= hidden_field_tag 'usuario_id_aux', params[:id] %>
    <div class="actions">
      <%= f.submit "Actualizar Información Centro de Salud", data: { confirm: 'Seguro que desea guardar los cambios?' } %>
    </div>
<% end %>