<h1 class="text-center v-center"><%= @medico.nombre %></h1>
<p>
  <strong>Nombre:</strong>
  <%= @medico.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @medico.apellido %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @medico.cedula %>
</p>

<p>
  <strong>Especialidad:</strong>
  <%= @medico.especialidad %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @medico.direccion %>
</p>

<p>
  <strong>Telefono casa:</strong>
  <%= @medico.telefono_casa %>
</p>

<p>
  <strong>Telefono celular:</strong>
  <%= @medico.telefono_celular %>
</p>

<p>
  <strong>Telefono oficina:</strong>
  <%= @medico.telefono_oficina %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @medico.sexo %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @medico.fecha_nacimiento %>
</p>

<p>
  <strong>Número Colegio de Medicos:</strong>
  <%= @medico.cmv %>
</p>

<p>
  <strong>Curriculum Vitae:</strong>
  <%= @medico.cv %>
</p>

<p>
  <strong>Página Web:</strong>
  <%= link_to @medico.url, @medico.url %>
</p>
<br>

<%= link_to 'Atras', medicos_path, :class=> 'btn btn-default' %>
<%= link_to 'Ver Servicios Medicos Ofrecidos', ver_servicios_medicos_path(@medico), { :class=> 'btn btn-lg btn-primary', :style=> 'text: #FFFFFF;' }  %>
